<ion-header>
  <ion-toolbar>
    <ion-title >速洗車車</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-content fullscreen class="ion-padding">
      <ion-list>
      <ion-button expand="block" size="large" (click)="nextpage()">附近洗車場位置</ion-button>
    

      <ion-row style="height: h"></ion-row>
          <ion-button expand="block" size="large">空位搜尋</ion-button>
          <ion-row style="height: h"></ion-row>
          <ion-button expand="block" size="large">路線規劃</ion-button>
          <ion-row style="height: h"></ion-row>
            <ion-button expand="block" size="large">天氣查詢</ion-button>
            <ion-row style="height: h"></ion-row>
              <ion-button expand="block" size="large" (click)="nextfinalpage()">洗車用品</ion-button>
            </ion-list>
          </ion-content>
</ion-content>
