<ion-header>
  <ion-toolbar>
    <ion-title >速洗車車</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline"></ion-icon>
          <span>&nbsp;</span>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img src="../../assets/wash car-1.jpg" class="logo" />

     <div class="wrapper">
       <div class="box">
      <ion-button expand="block" size="large" class="button" (click)="nextpage()">附近洗車場位置</ion-button>
    
    
          <ion-button expand="block" size="large" class="button" (click)="nextsecondpage()">空位搜尋</ion-button>


          <ion-button expand="block" size="large" class="button" (click)="nextthirdpage()">路線規劃</ion-button>


            <ion-button expand="block" size="large" class="button" (click)="nextfourpage()">天氣查詢</ion-button>
          </div>
      </div>
            

      
</ion-content>
