<ion-header>
  <ion-toolbar>
    <ion-title>附近洗車位置</ion-title>
      <ion-button slot="start">
          <ion-button color="primary" class="backbtn" routerLink="/home/cars" routerDirection="back">
            <img src='../../assets/back-dark.svg' />
            
          </ion-button>
      </ion-button>

      <ion-buttons slot="end">
        <ion-button class="notification" routerLink="/home/cars">
          <ion-icon name="home-outline"></ion-icon>
          <span>&nbsp;</span>
        </ion-button>
        
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-item (click)="nextpage()">
        <ion-icon name="compass-outline" class="iconcolor" slot="start"></ion-icon>
      
      <ion-list>
                <ion-label class="testclass">黎明自助洗車場</ion-label>
                <ion-label class="test2class">大於１０公里</ion-label>
      </ion-list>
        
      <ion-list slot="end">
        <ion-row color="red">
        <img src="../../assets/check-mark.svg" width="20" height="20">
        <ion-label>使用中：29</ion-label>
        </ion-row>
        <ion-row>
        <img src='../../assets/parking.svg' width="20" height="20">
        <ion-label>可使用：29</ion-label>
        </ion-row>
      </ion-list>
    </ion-item>
    
</ion-list>
<ion-list>
  <ion-item (click)="nextpage()">
      <ion-icon name="compass-outline" class="iconcolor" slot="start"></ion-icon>
    
    <ion-list>
              <ion-label class="testclass">競速自助洗車</ion-label>
              <ion-label class="test2class">大於１０公里</ion-label>
    </ion-list>
      
    <ion-list slot="end">
      <ion-row color="red">
      <img src="../../assets/check-mark.svg" width="20" height="20">
      <ion-label>使用中：29</ion-label>
      </ion-row>
      <ion-row>
      <img src='../../assets/parking.svg' width="20" height="20">
      <ion-label>可使用：29</ion-label>
      </ion-row>
    </ion-list>
  </ion-item>
  
</ion-list>
<ion-list>
  <ion-item (click)="nextpage()">
      <ion-icon name="compass-outline" class="iconcolor" slot="start"></ion-icon>
    
    <ion-list>
              <ion-label class="testclass">愛洗車DIY自助洗車場</ion-label>
              <ion-label class="test2class">大於１０公里</ion-label>
    </ion-list>
      
    <ion-list slot="end">
      <ion-row color="red">
      <img src="../../assets/check-mark.svg" width="20" height="20">
      <ion-label>使用中：29</ion-label>
      </ion-row>
      <ion-row>
      <img src='../../assets/parking.svg' width="20" height="20">
      <ion-label>可使用：29</ion-label>
      </ion-row>
    </ion-list>
  </ion-item>
  
</ion-list>
<ion-list>
  <ion-item (click)="nextpage()">
      <ion-icon name="compass-outline" class="iconcolor" slot="start"></ion-icon>
    
    <ion-list>
              <ion-label class="testclass">車鑽投幣式自助洗車廣場</ion-label>
              <ion-label class="test2class">大於１０公里</ion-label>
    </ion-list>
      
    <ion-list slot="end">
      <ion-row color="red">
      <img src="../../assets/check-mark.svg" width="20" height="20">
      <ion-label>使用中：29</ion-label>
      </ion-row>
      <ion-row>
      <img src='../../assets/parking.svg' width="20" height="20">
      <ion-label>可使用：29</ion-label>
      </ion-row>
    </ion-list>
  </ion-item>
  
</ion-list>
<ion-list>
  <ion-item (click)="nextpage()">
      <ion-icon name="compass-outline" class="iconcolor" slot="start"></ion-icon>
    
    <ion-list>
              <ion-label class="testclass">金時代自助洗車</ion-label>
              <ion-label class="test2class">大於１０公里</ion-label>
    </ion-list>
      
    <ion-list slot="end">
      <ion-row color="red">
      <img src="../../assets/check-mark.svg" width="20" height="20">
      <ion-label>使用中：29</ion-label>
      </ion-row>
      <ion-row>
      <img src='../../assets/parking.svg' width="20" height="20">
      <ion-label>可使用：29</ion-label>
      </ion-row>
    </ion-list>
  </ion-item>
  
</ion-list>
<ion-list>
  <ion-item (click)="nextpage()">
      <ion-icon name="compass-outline" class="iconcolor" slot="start"></ion-icon>
    
    <ion-list>
              <ion-label class="testclass">趣洗車自助洗車場-水湳店</ion-label>
              <ion-label class="test2class">大於１０公里</ion-label>
    </ion-list>
      
    <ion-list slot="end">
      <ion-row color="red">
      <img src="../../assets/check-mark.svg" width="20" height="20">
      <ion-label>使用中：29</ion-label>
      </ion-row>
      <ion-row>
      <img src='../../assets/parking.svg' width="20" height="20">
      <ion-label>可使用：29</ion-label>
      </ion-row>
    </ion-list>
  </ion-item>
  
</ion-list>
</ion-content>
