<ion-header>
  <ion-toolbar>
    <ion-title>黎明自助洗車</ion-title>
    <ion-button slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home/wash-location" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
        
      </ion-button>
  </ion-button>

  <ion-buttons slot="end">
    <ion-button class="notification" routerLink="/home/cars">
      <ion-icon name="home-outline"></ion-icon>
      <span>&nbsp;</span>
    </ion-button>
    
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>詳細資訊</ion-label>
</ion-content>
