<ion-header>
  <ion-toolbar>
    <ion-title>天氣查詢</ion-title>
    <ion-button slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home/cars" routerDirection="back">
        <img src='../../assets/back-dark.svg' />
        
      </ion-button>
  </ion-button>

  <ion-buttons slot="end">
    <ion-button class="notification">
      <ion-icon name="notifications-outline" color="dark"></ion-icon>
      <span>&nbsp;</span>
    </ion-button>
    
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
