<ion-header>

</ion-header>

<ion-content class="ion-padding ion-text-center">

    <div class="container">
        <div class = "page-header">
        <h1>Welcome to Happy Washing</h1>
        <h3>Enjoy the Code Crafts App</h3>
        
        </div>

        <img src="../../assets/wash car-1.jpg" class="logo" />

    
        <div class="ion-margin-top">
            <ion-button expand="block" class="ion-margin-top" (click)="login()" routerDirection="forward">Log In</ion-button>
            <ion-button expand="block" class="ion-margin-top" (click)="register()" color="dark" fill="outline" routerDirection="forward">Sign Up</ion-button> 
        </div>
    </div>
</ion-content>



